/* Header Styling */
:root {
    --header-height: 70px;
}

.header {
    padding: 1.5rem;
    outline: 1px solid black;
    height: var(--header-height);
}

.header__container {
    width: 90%;
    margin-inline: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.logo {
    height: 30px;
}

.vertical-divider {
    height: 100%;
    width: 2px;
    background-color: #dfdfdf;
}

.header__left__name {
    font-size: 1.1rem;
    font-weight: 500;
}

.header__center {
    display: flex;
    gap: 1rem;
}

.btn {
    background-color: none;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

.menu-btn {
    width: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #e4e5e7;
    font-weight: 500;
    transition: background-color 0.2s ease, box-shadow 0.2s ease-out;
}

.menu-btn:hover {
    background-color: hsla(220, 6%, 87%);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 3px 0px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.hamburger__line {
    height: 2px;
    width: 16px;
    background-color: #5c5f62;
    border-radius: 20px;
}

.searchbar-container {
    position: relative;
}

.magnifying-glass-icon {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.magnifying-glass-icon svg {
    translate: 0 -6%;
}

.searchbar {
    border: none;
    outline: none;
    background-color: #e4e5e7;
    padding: 0.8rem;
    border-radius: 5px;
    padding-left: 2rem;
    transition: box-shadow 0.2s ease-out;
    font-size: 1rem;
}

.searchbar:hover {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.searchbar::placeholder {
    color: #202223;
    font-size: 1rem;
}

.main-wrapper {
    position: relative;
    overflow: hidden;
}

.districts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.district-box {
    height: 70px;
    min-width: 100px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.temp-sidebar {
    position: absolute;
    background-color: hsla(200, 4%, 13%, 0.9);
    color: #dfdfdf;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    transition: translate 0.3s ease-in-out;
    translate: 100% 0;
}

.sidebar-active {
    translate: 0 0;
}

.sidebar-container {
    font-size: 1.5rem;
    padding: 2rem 1rem;
    position: relative;
}

.sidebar-container p {
    margin-top: 1rem;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    rotate: 45deg;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}
