/* Header Styling */
:root {
    --header-height: 70px;
}

html {
    background-color: #ffffff;
}

.header {
    position: relative;
    z-index: 8;
    padding: 1.5rem;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.15);
    height: var(--header-height);
    background-color: #ffffff;
}

.header__container {
    width: 95%;
    margin-inline: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

.header__left {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.logo {
    height: 30px;
}

.vertical-divider {
    height: 100%;
    width: 2px;
    background-color: #dfdfdf;
}

.header__left__name {
    font-size: 14px;
    font-weight: 500;
    width: 90px;
}

.header__center {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav {
    position: absolute;
    left: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    z-index: 9;
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    color: #6d7175;
}

.nav-item {
    transition: color 0.2s ease-in-out;
}

.nav-item:hover {
    color: #fc714a;
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.menu-btn {
    padding: 0.8rem;
    width: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #e4e5e7;
    font-weight: 500;
    transition: background-color 0.2s ease, box-shadow 0.2s ease-out;
}

.menu-btn:hover {
    background-color: hsla(220, 6%, 87%);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 3px 0px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.hamburger__line {
    height: 2px;
    width: 16px;
    background-color: #5c5f62;
    border-radius: 20px;
}

.searchbar-container {
    position: relative;
    flex: 1;
    max-width: 600px;
    width: 40dvw;
}

.magnifying-glass-icon {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.magnifying-glass-icon svg {
    translate: 0 -6%;
}

.searchbar {
    border: none;
    outline: none;
    background-color: #e4e5e7;
    padding: 0.8rem;
    border-radius: 5px;
    padding-left: 2rem;
    transition: box-shadow 0.2s ease-out;
    font-size: 1rem;
    width: 100%;
}

.searchbar:hover,
.searchbar:focus {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.searchbar::placeholder {
    color: #202223;
    font-size: 1rem;
}

.main-wrapper {
    position: relative;
    height: calc(100% - var(--header-height));
}

.districts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.district-box {
    height: 70px;
    min-width: 100px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.temp-sidebar {
    position: absolute;
    background-color: hsla(200, 4%, 13%, 0.9);
    color: #dfdfdf;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    transition: translate 0.3s ease-in-out;
    translate: 100% 0;
    z-index: 6;
}

.sidebar-active {
    translate: 0 0;
}

.sidebar-container {
    font-size: 1.5rem;
    padding: 2rem 1rem;
    position: relative;
}

.sidebar-container p {
    margin-top: 1rem;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    rotate: 45deg;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    user-select: none;
}

.header__right {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.header__right__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    border: 1px solid #babfc3;
    padding: 0.7rem 1rem;
    transition: background-color 0.2s ease, box-shadow 0.2s ease-out;
    background-color: #ffffff;
}

.header__right__btn:hover,
.header__right__btn:focus {
    background-color: rgb(241, 241, 241);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 3px 0px;
}

.invisible-overlay {
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100dvw;
    height: calc(100dvh - var(--header-height));
    z-index: 7;
    pointer-events: none;
    overflow: hidden;
}

.overlay-wrapper * {
    pointer-events: auto;
}

.overlay-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    padding: 0 1.3rem;
}

.selectors-container {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 1.3rem;
}

.dataset-selector {
    position: relative;
}

.dataset-picker {
    position: absolute;
    left: 0;
    bottom: -345px;
    background-color: #fff;
    color: #202223;
    border-radius: 8px;
}

.dataset-picker__container {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.dataset-column {
    width: 168px;
}

.dataset-column__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(252, 112, 136, 0.16);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.dataset-column__list {
    list-style: none;
}

.dataset-column__list-item {
    font-size: 14px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: left;
    margin: 5px 0;
}

.dataset-column__list-item.selected-dataset{
    border-radius: 4px;
    border: 1px solid #FC7088;
    background: rgba(252, 112, 136, 0.08);
}

.dataset-selector-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 10px;
    gap: .6rem;
    background-color: #fff;
    border-radius: 8px;
    height: 58px;
}

.selector-arrow {
    
}

.selector-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    margin-bottom: 3px;
}

.selector-text p:nth-child(1) {
    font-size: 10px;
    font-weight: 600;
    color: #fc714a;
    line-height: 15px;
}

.selector-text p:nth-child(1) span{
    color: #B3B3B3;
    margin-right: 6px;
}

.selector-text p:nth-child(2) {
    font-size: 1rem;
    color: #000000;
}

.intensity-selector {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #fff;
    border-radius: 8px;
    width: 288px;
    position: absolute;
    bottom: 126px;
}

.intensity-buttons {
    display: flex;
    align-items: center;
}

.intensity-btn {
    width: 50%;
    padding: 8px 16px;
    color: #202223;
    background-color: #f4f4f4;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    text-align: left;
}

.intensity-btn:hover{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/* .intensity-btn:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.intensity-btn:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.intensity-btn.active {
    background-color: #fc714a;
    color: #fff;
}

.slider-container {
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    translate: -50% 0;
    width: 97.4%;
    padding: 15px;
    border-radius: 8px;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.slider-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider-bar {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    height: 4px;
    background-color: #fc714a;
    width: 0;
    pointer-events: none;
}

.slider-input {
    width: 100%;
    height: 4px;
    outline: none;
    -webkit-appearance: none;
    background: #ffc5b5;
}

.slider-input::-moz-range-progress {
    background-color: #fc714a;
}

.slider-input::-moz-range-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(252, 113, 74);
    cursor: grabbing;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fc714a;
    cursor: grabbing;
    box-shadow: 0 0 0 0 rgba(252, 113, 74, 0.1);
    transition: box-shadow 0.1s ease-in-out;
}

.slider-input::-webkit-slider-thumb:hover,
.slider-input::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 10px rgba(252, 113, 74, 0.1);
}

.slider-sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    width: calc(100% - 140px);
}

.slider-section {
    flex: 1;
    text-align: center;
}

.slider-section:not(:last-child) {
    border-right: 2px solid rgba(32, 34, 35, 0.8);
}
#legend {
    position: absolute;
    top: 24px!important;
    right: 24px!important;
    background: #ffffff!important;
    border-radius: 8px;
}

.slider-sections .intensity-btn{
    padding-bottom: 16px;
    /* background: #F4F4F4; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.slider-sections .intensity-btn span{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}