/* Header Styling */
:root {
    --header-height: 70px;
}

html {
    background-color: #ffffff;
}

.header {
    position: relative;
    z-index: 8;
    padding: 1.5rem;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.15);
    height: var(--header-height);
    background-color: #ffffff;
}

.header__container {
    margin-inline: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.logo {
    height: 30px;
}

.vertical-divider {
    height: 100%;
    width: 2px;
    background-color: #dfdfdf;
}

.header__left__name {
    font-size: 14px;
    font-weight: 500;
    width: 120px;
}

.header__center {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.nav {
    position: absolute;
    left: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    z-index: 9;
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    color: #6d7175;
}

.nav-item {
    transition: color 0.2s ease-in-out;
}

.nav-item:hover {
    color: #fc714a;
}

a {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.menu-btn {
    padding: 0.8rem;
    width: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #e4e5e7;
    font-weight: 500;
    transition: background-color 0.2s ease, box-shadow 0.2s ease-out;
}

.menu-btn:hover {
    background-color: hsla(220, 6%, 87%);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 3px 0px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.hamburger__line {
    height: 2px;
    width: 16px;
    background-color: #5c5f62;
    border-radius: 20px;
}

.searchbar-container {
    position: relative;
    flex: 1;
    max-width: 600px;
    width: 40dvw;
}

.magnifying-glass-icon {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.magnifying-glass-icon svg {
    translate: 0 -6%;
}

.searchbar {
    border: none;
    outline: none;
    background-color: #e4e5e7;
    padding: 0.8rem;
    border-radius: 5px;
    padding-left: 2rem;
    transition: box-shadow 0.2s ease-out;
    font-size: 1rem;
    width: 100%;
}

.searchbar:hover,
.searchbar:focus {
    box-shadow: 0 0 5px 2px #d3d3d3;
}

.searchbar::placeholder {
    color: #202223;
    font-size: 1rem;
}

.main-wrapper {
    position: relative;
    height: calc(100% - var(--header-height));
    display: flex;
}

.map-container-outer {
    height: 100%;
    width: calc(100% - 400px);
    position: relative;
}

.districts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.district-box {
    height: 70px;
    min-width: 100px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.temp-sidebar {
    position: absolute;
    background-color: hsla(200, 4%, 13%, 0.9);
    color: #dfdfdf;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    transition: translate 0.3s ease-in-out;
    translate: 100% 0;
    z-index: 6;
}

.sidebar-active {
    translate: 0 0;
}

.sidebar-container {
    font-size: 1.5rem;
    padding: 2rem 1rem;
    position: relative;
}

.sidebar-container p {
    margin-top: 1rem;
}

.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    rotate: 45deg;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    user-select: none;
    display: none;
}

.header__right {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.header__right__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    border: 1px solid #babfc3;
    padding: 0.7rem 1rem;
    transition: background-color 0.2s ease, box-shadow 0.2s ease-out;
    background-color: #ffffff;
}

.header__right__btn:hover,
.header__right__btn:focus {
    background-color: rgb(241, 241, 241);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 3px 0px;
}

.invisible-overlay {
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100dvw;
    height: calc(100dvh - var(--header-height));
    z-index: 7;
    pointer-events: none;
    overflow: hidden;
}

.overlay-wrapper * {
    pointer-events: auto;
}

.overlay-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    padding: 0 1.3rem;
}

.selectors-container {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 1.3rem;
    left: 13px;
}

.dataset-selector {
    position: relative;
}

.dataset-picker {
    position: absolute;
    left: 0;
    bottom: -345px;
    background-color: #fff;
    color: #202223;
    border-radius: 8px;
}

.dataset-picker__container {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.dataset-column {
    width: 168px;
}

.dataset-column__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(252, 112, 136, 0.16);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.dataset-column__list {
    list-style: none;
}

.dataset-column__list-item {
    font-size: 14px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: left;
    margin: 5px 0;
}

.dataset-column__list-item.selected-dataset{
    border-radius: 4px;
    border: 1px solid #FC7088;
    background: rgba(252, 112, 136, 0.08);
}

.dataset-selector-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 10px;
    gap: .6rem;
    background-color: #fff;
    border-radius: 8px;
    height: 58px;
}

.selector-arrow {
    
}

.selector-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    margin-bottom: 3px;
}

.selector-text p:nth-child(1) {
    font-size: 10px;
    font-weight: 600;
    color: #fc714a;
    line-height: 15px;
}

.selector-text p:nth-child(1) span{
    color: #B3B3B3;
    margin-right: 6px;
}

.selector-text p:nth-child(2) {
    font-size: 1rem;
    color: #000000;
}

.intensity-selector {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #fff;
    border-radius: 8px;
    width: 288px;
    position: absolute;
    bottom: 126px;
    left: 13px;
}

.intensity-buttons {
    display: flex;
    align-items: center;
}

.intensity-btn {
    width: 50%;
    padding: 8px 16px;
    color: #202223;
    background-color: #f4f4f4;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    text-align: left;
}

.intensity-btn:hover{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/* .intensity-btn:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.intensity-btn:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.intensity-btn.active {
    background-color: #fc714a;
    color: #fff;
}

.slider-container {
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    translate: -50% 0;
    width: 97.4%;
    padding: 15px;
    border-radius: 8px;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.slider-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.slider-bar {
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    height: 4px;
    background-color: #fc714a;
    width: 0;
    pointer-events: none;
}

.slider-input {
    width: 100%;
    height: 4px;
    outline: none;
    -webkit-appearance: none;
    background: #ffc5b5;
}

.slider-input::-moz-range-progress {
    background-color: #fc714a;
}

.slider-input::-moz-range-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(252, 113, 74);
    cursor: grabbing;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #fc714a;
    cursor: grabbing;
    box-shadow: 0 0 0 0 rgba(252, 113, 74, 0.1);
    transition: box-shadow 0.1s ease-in-out;
}

.slider-input::-webkit-slider-thumb:hover,
.slider-input::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 10px rgba(252, 113, 74, 0.1);
}

.slider-sections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    width: calc(100% - 140px);
}

.slider-section {
    flex: 1;
    text-align: center;
}

.slider-section:not(:last-child) {
    border-right: 2px solid rgba(32, 34, 35, 0.8);
}
#legend {
    position: absolute;
    top: 24px!important;
    right: 13px!important;
    background: #ffffff!important;
    border-radius: 8px;
}

.slider-sections .intensity-btn{
    padding-bottom: 16px;
    /* background: #F4F4F4; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.slider-sections .intensity-btn span{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}

.custom-card {
    min-width: 316px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    margin: 1px;
    max-width: 316px;
    margin-right: 15px;
}

.card-img {
    height: 160.508px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
}

.card-body {
    padding: 20px 20px 24px 20px;
}

.card-body span {
    color: #76B90E;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */
    text-transform: uppercase;
}

.card-body h2 {
    color: #202223;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
    margin-top: 6px;
    margin-bottom: 12px;
}

.card-body .card-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card-body .card-tags li {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    border-radius: 64px;
    border: 1px solid rgba(252, 113, 74, 0.20);
    background: #FFF;
    padding: 6px 8px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.card-body h3 {
    color: #202223;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
    margin-top: 12px;
    margin-bottom: 6px;
}

.card-body .infos {
    display: flex;
}

.card-body .infos p {
    color: #B3B3B3;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */
    margin-right: 16px;
    text-transform: uppercase;
}

.card-body .infos p span {
    color: #000000;
    margin-left: 4px;
}

.card-body h6 {
    color: var(--text-default, #202223);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin: 16px 0;
}

.card-body h6 {
    color: var(--text-default, #202223);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin: 16px 0;
}

.card-body .address-info {
    list-style: none;
    margin-top: 15px;
}

.card-body .address-info li {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.card-body .address-info li p {
    color: #202223;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 16.8px */
}

.card-body .address-info li p:nth-child(1) {
    width: 46px;
    color: #B3B3B3;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */
    margin-right: 15px;
}

.custom-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    padding: 20px;
}

.modal-inner {
    border-radius: 8px;
    background: var(--surface-default, #FFF);

/* shadow-card */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    padding: 20px;
    position: relative;
}

.modal-header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.modal-header svg {}

.modal-header h3 {
    color: #202223;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
    margin-left: 10px;
}

.modal-header .close {
    position: absolute;
    right: 14px;
    top: 16px;
}

.modal-body {}

.modal-body p {
    color: #202223;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin-bottom: 17px;
}

.modal-footer {
    margin-top: 40px;
}

.modal-footer button {
    color: #202223;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    border-radius: 4px;
    border: 1px solid var(--border-neutral-subdued, #BABFC3);
    background: var(--action-secondary-default, #FFF);

/* shadow-button */
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 8px 16px;
    outline: 0;
}

.responsivecardmenu {
    position: absolute;
    bottom: 50px;
    right: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}

.responsivecardmenu li {color: #6D7175;font-size: 12px;font-style: normal;font-weight: 400;line-height: 16px; /* 133.333% */text-transform: uppercase;border-radius: 131.479px;border: 1.315px solid var(--border-neutral-subdued, #BABFC3);background: rgba(255, 255, 255, 0.80);

/* Background Blur */backdrop-filter: blur(16px);text-align: center;padding: 10.518px 18.407px 10.518px 15.778px;width: max-content;margin-bottom: 10px;}

.storyModalTop {}

.storyModalTop span {
    color: #76B90E;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */
    text-transform: uppercase;
}

.storyModalTop h2 {
    color: #202223;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */
}

.storyModalTop .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 10px;
}

.storyModalTop .tags li {
    color: rgba(0, 0, 0, 0.48);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-radius: 64px;
    border: 1px solid rgba(252, 113, 74, 0.20);
    background: #FFF;
    padding: 5px 6px 5px 6px;
    margin-right: 7px;
}

.storyModalBodyTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.storyModalBodyTop .left {}

.storyModalBodyTop .left h4 {
    color: #202223;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}

.storyModalBodyTop .left p {
    display: inline-block;
    color: #B3B3B3;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 10px */
    margin-right: 15px;
    margin-bottom: 0;
}

.storyModalBodyTop .left p span {
    color: #000;
    
     /* 10px */
}

.storyModalBodyTop .right {}

.storyModalBodyTop .right a {
    border-radius: 100px;
    border: 1px solid #BABFC3;
    background: #FFF;

/* shadow-button */
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding: 8px 14px 8px 12px;
}

.storyModalBodyTop .right a svg {
    margin-right: 4px;
}

.storyModalBodyImage {
    height: 400px;
    overflow: hidden;
}

.storyModalBodyImage img{
    width: 100%;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .close-sidebar{
        display: block;
    }
    .header{
        position: sticky;
    }
    .searchbar-container {
        width: 25dvw;
    }
    .main-wrapper{
        display: block;
    }
    .map-container-outer{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .close-sidebar{
        display: block;
    }
    .header{
        position: sticky;
    }
    .searchbar-container {
        width: 43dvw;
    }
    .main-wrapper{
        display: block;
    }
    .map-container-outer{
        width: 100%;
    }
    .header__right{
        display: none;
    }
    .nav{
        top:-16px;
    }
    .nav ul{
        display: block;
    }
    .nav-item {
        transition: color 0.2s ease-in-out;
        padding: 10px 6px;
    }
    .slider-container{
        gap: 0;
    }
    .slider-sections {
        width: calc(100% - 100px);
    }
    .intensity-btn {
        padding: 8px 10px;
    }
    .slider-sections .intensity-btn span{
        font-size: 9px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .close-sidebar{
        display: block;
    }
    .header{
        position: sticky;
    }
    .searchbar-container {
        width: 34dvw;
    }
    .main-wrapper{
        display: block;
    }
    .map-container-outer{
        width: 100%;
    }
    .header__right{
        display: none;
    }
    .nav{
        top:-16px;
    }
    .nav ul{
        display: block;
    }
    .nav-item {
        transition: color 0.2s ease-in-out;
        padding: 10px 6px;
    }
    .slider-container{
        gap: 0;
    }
    .slider-sections {
        width: 100%;
    }
    .intensity-btn {
        padding: 8px 10px;
    }
    .slider-sections .intensity-btn span{
        font-size: 9px;
        display: block;
    }
    .slider-container{
    }
    .slider-sections .intensity-btn p{
        font-size: 10px;
    }
    .slider-sections .intensity-btn {
        padding: 10px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 575px) {
    .close-sidebar{
        display: block;
    }
    .header{
        position: sticky;
    }
    .searchbar-container {
        width: 8dvw;
        opacity: 0;
        visibility: hidden;
    }
    .main-wrapper{
        display: block;
    }
    .map-container-outer{
        width: 100%;
    }
    .header__right{
        display: none;
    }
    .nav{
        top:-16px;
        width: 200px;
        right: 0;
        left: inherit;
        box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12), 0px 3px 6px -3px rgba(23, 24, 24, 0.08);
    }
    .nav ul{
        display: block;
    }
    .nav-item {
        transition: color 0.2s ease-in-out;
        padding: 10px 6px;
    }
    .slider-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: #ffffff;
        z-index: 1;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #FDC6B6;
        translate: none;
        height: calc(100% - 280px);
        display: none;
    }
    .slider-container.slideron{
        top: 280px;
        display: block;
    }
    .slider-sections {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .intensity-btn {
        padding: 8px 10px;
    }
    .slider-sections .intensity-btn span{
        font-size: 9px;
        display: block;
    }
    .slider-sections .intensity-btn p{
        font-size: 10px;
    }
    .slider-sections .intensity-btn {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16) inset;
    }

    .slider-container .dataset-selector-btn{
        margin-bottom: 20px;
    }
    .responsivecardmenu{
        display: flex;
    }
    .menu-btn{
        width: 42px;
    }
    .menu-btn span {
        display: none;
    }
    .searchbar{
        padding: 0.6rem;
        padding-left: 2rem;
    }
    .magnifying-glass-icon{
        padding: 0 0.8rem;
    }
    .intensity-selector {
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        height: calc(100% - 400px);
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #FDC6B6;
        z-index: 1;
        display: none;
    }
    .intensity-selector.intensity-selector-on{
        top: 400px;
        display: block;
    }
    .intensity-text.selector-text{
        margin-bottom: 30px!important;
    }
    .selectors-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .dataset-selector-btn {
        justify-content: start;
    }
    #legend {
        top: inherit!important;
        right: inherit!important;
        background: #ffffff!important;
        border-radius: 8px;
        bottom: 15px;
        left: 15px;
    }
    .dataset-picker {
        position: absolute;
        left: 0;
        top: 47px;
        right: 0;
    }
    .dataset-picker__container{
        display: block;
        background: #ffffff;
    }
    .dataset-column{
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .close-sidebar{
        display: block;
    }
    .header{
        position: sticky;
    }
    .searchbar-container {
        width: 8dvw;
        opacity: 0;
        visibility: hidden;
    }
    .main-wrapper{
        display: block;
    }
    .map-container-outer{
        width: 100%;
    }
    .header__right{
        display: none;
    }
    .nav{
        top:-16px;
        width: 200px;
        right: 0;
        left: inherit;
        box-shadow: 0px 8px 20px -4px rgba(23, 24, 24, 0.12), 0px 3px 6px -3px rgba(23, 24, 24, 0.08);
    }
    .nav ul{
        display: block;
    }
    .nav-item {
        transition: color 0.2s ease-in-out;
        padding: 10px 6px;
    }
    .slider-container {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: #ffffff;
        z-index: 1;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #FDC6B6;
        translate: none;
        height: calc(100% - 280px);
        display: none;
    }
    .slider-container.slideron{
        top: 280px;
        display: block;
    }
    .slider-sections {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .intensity-btn {
        padding: 8px 10px;
    }
    .slider-sections .intensity-btn span{
        font-size: 9px;
        display: block;
    }
    .slider-sections .intensity-btn p{
        font-size: 10px;
    }
    .slider-sections .intensity-btn {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16) inset;
    }

    .slider-container .dataset-selector-btn{
        margin-bottom: 20px;
    }
    .responsivecardmenu{
        display: flex;
    }
    .menu-btn{
        width: 42px;
    }
    .menu-btn span {
        display: none;
    }
    .searchbar{
        padding: 0.6rem;
        padding-left: 2rem;
    }
    .magnifying-glass-icon{
        padding: 0 0.8rem;
    }
    .intensity-selector {
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        height: calc(100% - 400px);
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #FDC6B6;
        z-index: 1;
        display: none;
    }
    .intensity-selector.intensity-selector-on{
        top: 400px;
        display: block;
    }
    .intensity-text.selector-text{
        margin-bottom: 30px!important;
    }
    .selectors-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .dataset-selector-btn {
        justify-content: start;
    }
    #legend {
        top: inherit!important;
        right: inherit!important;
        background: #ffffff!important;
        border-radius: 8px;
        bottom: 15px;
        left: 15px;
    }
    .dataset-picker {
        position: absolute;
        left: 0;
        top: 47px;
        right: 0;
    }
    .dataset-picker__container{
        display: block;
        background: #ffffff;
    }
    .dataset-column{
        width: 100%;
    }
}