/* fonts  */
.p-font-size-75 {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.p-font-size-400 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* sidebar */
.font-color-1 {
    color: var(--font-color-1);
}

.font-color-2 {
    color: var(--font-color-2);
}

.sidebar {
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.88);
    width: 400px;
    height: 100%;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 8px;
}

.sidebar-active {
    translate: 0 0;
}

.sidebar__container {
    padding: 1.25rem;
    min-width: 100%;
}

.sidebar__container__heading .tags{
    display: flex;
    margin: 14px 0;
    list-style: none;
}
.sidebar__container__heading .tags li{
    color: rgba(0, 0, 0, 0.48);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 10px */
    border-radius: 64px;
    border: 1px solid rgba(252, 113, 74, 0.20);
    background: #FFF;
    padding: 4px 6px 5px 6px;
    margin-right: 7px;
}

.sidebar__container hr {
    margin: 1rem 0rem;
}

.sidebar__container .arrow {
    height: 1rem;
    width: 1rem;
}

.sidebar__container__details__flex {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1rem;
}

.sidebar_container_para {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    margin-top: 15px;
    margin-bottom: 25px;
}
.sidebar__container__buttonGroup {
    /*   border: 1px solid red; */
    margin: 2.5rem 0rem 0.625rem 0rem;
}



.sidebar__container__buttonGroup button {
    transition: opacity 0.2s;
    width: 50%;
}

.sidebar__container__buttonGroup button:hover {
    opacity: 100%;
}


.sidebar__container__inactive_btn {
    background: #F4F4F4;
    color: black
}

.sidebar__container__buttonGroup button:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
    border-right: none;
}

.sidebar__container__buttonGroup button:nth-child(2) {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
}
.sidebar__container__active_btn {
    background: var(--btn-color-1);
    color: white
}

.stories-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.stories-heading h2{}
.stories-heading h2 img{
    margin-left: 9px;
}
.stories-heading p{
    color: #FC714A;
    text-align: center;
    font-family: Urbanist;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-radius: 64px;
    background: rgba(252, 113, 74, 0.12);
    padding: 6px 8px;
}

.sidebar__arrow {
    color: var(--font-color-2);
    padding: 0rem 1rem;
}

.stories-container {
    overflow: auto;
    display: flex;
    margin-top: 20px;
}