.map-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map {
    background-color: "white";
    width: "100%";
    cursor: pointer;
}

#legend {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 8px;
    min-width: 150px;
    color: #000;
    flex-direction: column;
    gap: 0.5rem;
}

.tooltip-row {
    gap: 0.5rem;
}

.tooltip-title {
    color: #000;
    font-weight: 600;
}

#tooltip-label {
    display: inline-block;
    vertical-align: middle;
}

.tooltip-temp {
    color: rgb(0, 0, 0, 0.64);
}

.tooltip-period {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.24);
}